<script type="text/html" id="tmplAbout">
    <p>ABOUT</p>

    <p>RVAMakes was built by you, RVA, in an attempt to collect all the creative powers in Richmond, Virginia.</p>

    <p>This site was inspired by <a href="http://prtlnd.com">PRTLND</a>. Thanks to <a href="http://welovejeff.com/"">Jeff
        McDonald</a>, who planted the seed about borrowing the idea.</p>

    <p>If you make stuff and you live in Richmond, you should <a href="#/entry">add yourself.</a></p>

    <p><a href="http://twitter.com/rvamakes">@RVAMAKES</a></p>

    <p>
        <strong>Contributors</strong>
    </p>

    <ul>
        <li><a href="http://twitter.com/flatanimals">Fletch Padgett</a></li>
        <li><a href="http://twitter.com/welovejeff">Jeff McDonald</a></li>
        <li><a href="http://twitter.com/individual11">David Vogeleer</a></li>
    </ul>
</script>