<script type="text/html" id="tmplAbout">
    <h2>ABOUT</h2>

    <p>RVAMakes was built by you, RVA, in an attempt to collect all the creative powers in Richmond, Virginia.</p>

    <p>This site was inspired by <a href="http://prtlnd.com" target="_blank">PRTLND</a>. Thanks to
        <a href="http://twitter.com/welovejeff" target="_blank">Jeff
            MacDonald</a>, who planted the seed about borrowing the idea.</p>

    <p>If you make stuff and you live in Richmond, you should <a href="#/entry">add yourself.</a></p>

    <p><a href="http://twitter.com/rvamakes" target="_blank">@RVAMAKES</a></p>

    <p>
        <strong>Contributors</strong>
    </p>

    <ul class="contributors">
        <li class="diamond"><a href="http://twitter.com/flatanimals">Fletch Padgett</a></li>
        <li class="heart"><a href="http://twitter.com/welovejeff">Jeff MacDonald</a></li>
        <li class="club"><a href="http://twitter.com/individual11">David Vogeleer</a></li>
        <li class="spade"><a href="http://twitter.com/koolyp">Kevin Power</a></li>
    </ul>
</script>