<script type="text/html" id="tmplShowItem">
    
    <div class="item-content">
	    <div class="avatar"><img src="{{img}}" alt="{{name}}"/></div>
	    <!-- <h2>RVAMAKER</h2> -->
	    <div class="info">
	    	<h2>{{name}}</h2>
	    	<div class="url"><strong><a href="{{url}}" target="_blank">{{url}}</a></strong></div>
	    
		    {{! since we don't name the elements in the tags array, you have to use "." in it's place}}
		    <ul class="tags">
		    {{#tags}}
		    <li>
		    	<a class="{{.}}" href="#/filter/{{.}}">{{.}}</a>
		    </li>
		    {{/tags}}
		    </ul>
		</div>
   </div>

    
    
    
    <!-- <p>{{#tags}}{{tags.join(",")}}{{/tags}}</p> -->
</script>