<script type="text/html" id="tmplShowItem">
    <p>RVAMAKER</p>

    <p><img src="{{img}}" alt="{{name}}"/></p>

    <p>{{name}}</p>

    <p><a href="{{url}}" target="_blank">{{url}}</a></p>

    <p>{{#tags}}{{tags.join(",")}}{{/tags}}</p>
</script>