<footer>
    <div class="inner">
        <div><a href="#/about">about</a></div>
        <div><a href="#/random">random</a></div>
        <div><a href="#/entry">add yourself</a></div>
    </div>
</footer>