<header>
    <div class="inner">
        <div class="selector">
            <div class="prefix"><span class="rva-logo" aria-hidden="true"></span></div>
            <div class="current">Makes</div>
            <div class="fob"><span class="rva-arrow-down" aria-hidden="true"></span></div>
        </div>
        <div class="options">
            <div data-filter="" class="makes selected">Makes</div>
            <div data-filter="designer" class="designer">Designers</div>
            <div data-filter="developer" class="developer">Developers</div>
            <div data-filter="photographer" class="photographer">Photographers</div>
            <div data-filter="illustrator" class="illustrator">Illustrators</div>
            <div data-filter="musician" class="musician">Musicians</div>
            <div data-filter="writer" class="writer">Writers</div>
            <div data-filter="filmmaker" class="filmmaker">Filmmakers</div>
            <div data-filter="crafter" class="crafter">Crafters</div>
            <div data-filter="cook" class="cook">Cooks</div>
            <div data-filter="mographer" class="mographer">Mographers</div>
            <div data-filter="technologist" class="technologist">Technologists</div>
        </div>
    </div>
</header>