<header>
    <div class="inner">
        <div class="selector">
            <div class="prefix"><span class="rva-logo" aria-hidden="true"></span></div>
            <div class="current">Makes</div>
            <div class="fob"><span class="rva-arrow-down" aria-hidden="true"></span></div>
        </div>
        <div class="options">
            <div data-filter="">Makes</div>
            <div data-filter="designer">Designers</div>
            <div data-filter="developer">Developers</div>
            <div data-filter="photographer">Photographers</div>
            <div data-filter="illustrator">Illustrators</div>
            <div data-filter="musician">Musicians</div>
            <div data-filter="writer">Writers</div>
            <div data-filter="filmmaker">Filmmakers</div>
            <div data-filter="crafter">Crafters</div>
            <div data-filter="cook">Cooks</div>
            <div data-filter="mographer">Mographers</div>
            <div data-filter="technologist">Technologists</div>
        </div>
    </div>
</header>